html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

body {
    font-family: $ff_reg;
    min-height: 100vh;
    overflow-x: hidden;
    color: $c_dark;
    font-size: $fz_1045;
}

a {
    color: $c_blue;
    text-decoration: none;
}

ul {
    list-style-type: none;
}




.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: block;
}

.s {
    &-pd {
        padding: 50px 0;
    }

    &-bg__blue {
        background-color: $c_blue_lght;
    }
}

.section {
    &-title {
        font-size: 2em;
        color: $c_blue;
        font-family: $ff_bold;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        display: inline-block;
        width: auto;
        margin: auto;
    
        &:after {
            content: '';
            width: 45px;
            height: 6px;
            background-color: $c_green;
            display: block;
            margin: 10px auto 0;
        }
    
        &.bd_l {
            &:after {
                margin-left: 0;
                margin-right: auto;
            }
        }
    }

    &-subtitle {
        text-transform: uppercase;
        margin-top: 28px;
    }
    
}

.btn {
    padding: 9px 13px;
    text-transform: uppercase;
    background-color: $c_blue;
    color: $white;
    border: none;
    cursor: pointer;
    outline: none;
    width: auto;
    max-width: unset;
    border-radius: 20px;
    font-family: $ff_bold;
    font-size: $fz_1025;
    min-width: 135px;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: $c_blue_hv;
    }


    &.btn-accent {
        background-color: $c_green;
        &:hover {
            background-color: $c_green_hv;
        }
    }
}


.g-tac {
    text-align: center;
}

.swiper {
    &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
            background-color: $c_blue;
            opacity: 1;
            width: 9px;
            height: 9px;

            &-active {
                width: 16px;
                height: 16px;
            }
        }
    }
    &-container {
        .swiper-button-next, 
        .swiper-container-rtl 
        .swiper-button-prev,
        .swiper-button-prev, 
        .swiper-container-rtl 
        .swiper-button-next{
            background: none;
            display: flex;
            align-items: center;
            &:after {
                content: '';
                transition: all $transition ease;
				@include arrow($c_blue, 2.5px, 10px, 'right');
                position: relative;
                right: 20px;
            }
            &:hover {
                &:after {
                    border-color: $c_blue_hv;
                }
            }
        }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
            &:after {
                right: auto;
                left: 20px;
                @include arrow($c_blue, 2.5px, 10px, 'left');
            }
        }


        &.circle-navs {
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: 0;
                height: 100%;
                background-color: $c_white;
                left: 0;
                width: 30px;
    
                &:before {
                    content: '';
                    width: 60px;
                    height: 60px;
                    background-color: $c_white;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    border-radius: 100%;
                }
                &:after {
                    margin-left: 5px;
                }
            }

            .swiper-button-next {
                right: 0;
                left: auto;
                &:after {
                    margin-left: auto;
                    margin-right: 5px;
                }
                &:before {
                    left: -30px;
                }
            }
        }
    }
}
