// GLOBAL
$transition: 150ms;
$transition-slow: 320ms;
$finger-size: 48px;
$border-radius: 4px;

// COLORS
$default: #f7e832;
$c-heading-darken: #323231;
$c-heading-dark: #444444;
$c-heading-gray: #6a6a6a;
$c-heading-gray-light: #bababa;
$c-success: #5ddb9f;
$c-info: #62e3f5;
$c-bg: #fcfcfc;
$c-text: $c-heading-gray;

$c_blue: #0f0e9f;
$c_blue_hv: #1e6cfd;
$c_blue_lght: #e9f4fc;
$c_dark: #000;
$c_white: #fff;
$c_green: #aacb10;
$c_green_hv: #bde022;
$c_error: #ff4444;
// TYPOGRAPHY
$flh-normal: 1.3;
$fw-light: 200;
$fw-normal: normal;
$fw-medium: 500;
$fw-bold: bold;
$ff_bold: HermesC;
$ff_reg: MyriadPro, sans-serif; 
$fz_1065: 1.065em;
$fz_1045: 1.045em;
$fz_1025: 1.025em;

/// BOOTSTRAP CUSTOMIZED VARIABLES
$theme-colors: () !default;
$theme-colors: map-merge((
  "default":    $default
), $theme-colors);

