.categories {
    text-align: center;
    &-item {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 140px);
        margin: auto;
        justify-content: space-between;
        .section-title {
            width: 100%;
            margin-bottom: 40px;
        }
        &__card {
            max-width: 285px;
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            &--subtitle {
                max-width: 250px;
                width: 100%;
            }
            &--img {
                width: 100%;
                max-width: max-content;
                height: auto;
            }
            &--title {
                font-family: $ff_bold;
                margin-top: 25px;
                margin-bottom: 5px;
                color: $c_blue;
                text-transform: uppercase;
                font-size: $fz_1065;
            }
        }
    }
    &-buttons {
        margin-top: 65px;
        .btn {
            &:first-child {
                margin-right: 20px;
            }
        }
    }
}