head
  block title
  include meta_common
  include meta_social_website

  +statcss('libs/swiper/css/swiper.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  +statjs('libs/circletype/circletype.min.js')
  +statjs('libs/swiper/js/swiper.min.js')
  +statjs('libs/RobinHerbots-inputmask/jquery.inputmask.bundle.min.js')
  //- include meta_social_article