.hashtag {
    &-inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
        margin-top: 35px;
        margin-bottom: -20px;
    }
    &-item {
        width: calc(100% / 5 - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
        min-height: 220px;
        background-color: $c_blue;
    }
}