extends ../_layouts/_layouts
block title
  +title("Главная")
block content
  include ../components/banner/banner
  include ../components/form-quick-order/form-quick-order
  include ../components/carousel-categories/carousel-categories
  include ../components/services/services
  include ../components/carousel-gallery/carousel-gallery
  include ../components/carousel-about/carousel-about
  include ../components/hashtag/hashtag
