section.services.s-pd.s-bg__blue
    .container.g-tac
        .section-title Сервис

        .services-inner
            .services-item
                .services-item__hexagon#hexagon
                    img.services-item__img(src="./static/images/services/1_1.png")
                .services-item__title Опытные доставки
                .services-item__subtitle +7 (495) 258-25-58
                    a(href="mailto:info@cone-forest.ru") info@cone-forest.ru
            .services-item
                .services-item__hexagon
                    img.services-item__img(src="./static/images/services/1_2.png")
                .services-item__title В магазинах
                .services-item__subtitle Ищите нас в гипермаркетах, торговых сетях и в магазинах у дома
            .services-item
                .services-item__hexagon
                    img.services-item__img(src="./static/images/services/1_3.png")
                .services-item__title Доставка на дом и в офис
                .services-item__subtitle +7 (495) 258-25-78
                    a(href="tel:+7 (495) 258-25-78") Сделать заказ                             