.services {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        right: 4vw;
        bottom: 0;
        background-image: url('/static/images/services/yel.png');
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: right bottom;
        pointer-events: none;
    }
    &-inner {
        display: flex;
        margin-top: 90px;
        justify-content: space-around;
        align-items: center;
    }
    &-item {
        max-width: 290px;
        width: 100%;

        &__hexagon {
            @include hexagon($c_white, 150px);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
        }
        &__img {
            height: auto;
            width: auto;
        }

        &__title {
            margin-top: 80px;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: $c_blue;
            font-family: $ff_bold;
            font-size: $fz_1065;
        }
        &__subtitle {
            font-size: $fz_1045;
            a {
                display: block;
                color: $c_blue;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

}