.about {
    &-item {
        display: flex;
        justify-content: space-between;
        &__col {
            width: 37%;
            &:first-child {
                padding-left: 70px;
            }
            &:last-child {
                padding-right: 70px;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
        &__capture {
            margin-top: 30px;
            margin-bottom: 50px;
        }
        &__img {
            &.bottom {
                position: absolute;
                bottom: 0;
            }
            
        }
    }
    &-carousel {
        margin: auto;
        .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
            opacity: 0;
        }
    }
}