section.gallery.s-pd
    .container.g-tac
        .gallery-carousel.js-carousel__gallery
            .swiper-container.circle-navs
                .swiper-wrapper
                    .swiper-slide.gallery-item
                        .gallery-item__card(style="background-image: url()")
                            img.gallery-item__card--img(src='#')
                        .gallery-item__card
                            img.gallery-item__card--img(src='#')
                .swiper-button-prev
                .swiper-button-next