section.form-order.s-pd.s-bg__blue
    .container
        h2.section-title Быстрый заказ
        p.section-subtitle Заполните форму, и мы свяжемся с Вами 
        form#order__quick.rsform.js-required
            .rsform-group.js-rsform__field.rs-check_mark
                span.rsform-title
                input.rsform-input(type='text', name='name', placeholder='Ваше имя', data-required='{"type": "alphabet","minL": 3,"lang": "ru"}')
            .rsform-group.js-rsform__field.rs-check_mark
                span.rsform-title
                input.rsform-input(type='tel', name='phone', placeholder='Телефон', data-required='{"type": "phoneRU","message": "Введите номер телефона"}')
            .rsform-group.js-rsform__field.rs-check_mark
                span.rsform-title
                input.rsform-input(type='email', name='email', placeholder='Эл. почта', data-required='{"type": "email","message": "Введите ваш e-mail"}')
            button.rsform-btn.btn(type='submit') Отправить
            